meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-quiv="x-ua-compatible" content="ie=edge")
title #{title}
//- Libraries
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
link(rel="stylesheet", href="./libs/css/bootstrap.min.css")
link(rel="stylesheet", href="./libs/css/mdb.min.css")
//- Custom Styles
link(rel="stylesheet", href="./css/main.css")
//- Open Graph
meta(property="og:title" content="«СпецТрансСтрой» - добыча и реализация нерудных материалов")
meta(property="og:type" content="")
meta(property="og:url" content="https://sts-msk.pro")
meta(property="og:image" content="./assets/img/logo/logo_black.png")
//- Yandex Verification
meta(name="yandex-verification" content="")
//- Robots
meta(name="robots" content="index, nofollow")
//- Yandex Catalog snippet
meta(name="yandex" content="noyaca")
//- Google Meta Tags
meta(itemprop="name" content="«СпецТрансСтрой» - добыча и реализация нерудных материалов")
meta(itemprop="description" content="")
meta(itemprop="image" content="./assets/img/logo/logo_black.png")
//- Description
meta(name="description" content="Наша компания осуществляет добычу и реализацию нерудных материалов, предлагаем песок мытый и сеяный модуль крупности 2,5мм-3мм, гравий фракций 5х20, 20х40, 40х70, ЩГПС-С4, ЩГПС-С5, ПГС, камень бутовый фракции 80х150, щебень на засыпку дорог фракция от 20мм до 150мм.")
//- Keywords
meta(name="keywords" content="Карьер Чаль, песок сеянный, песок мытый, гравий фракций 5x20, гравий фракций 20x40, гравий фракций 40x70, ЩГПС С-4, ЩГПС С-5, ПГС, камень бутовый фракций 80x150, камень бутовый фракций 20x150")
//- Author
meta(name="author" content="Ivan Plastun")
//- Copyright
meta(name="copyright" lang="ru" content="Добыча и реализация нерудных материалов | Компания ««СпецТрансСтрой»» | sts-msk.pro")
//- Favicon
link(rel="apple-touch-icon" sizes="57x57" href="./assets/img/icons/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="./assets/img/icons/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="./assets/img/icons/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="./assets/img/icons/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="./assets/img/icons/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="./assets/img/icons/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="./assets/img/icons/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="./assets/img/icons/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="./assets/img/icons/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192" href="./assets/img/icons/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="96x96" href="./assets/img/icons/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="32x32" href="./assets/img/icons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="./assets/img/icons/favicon-16x16.png")
meta(rel="manifest" href="")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="./assets/icons/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")