<!-- Modal Order -->  
.modal-dialog.modal-side.modal-bottom-right.modal-notify#modalOrder(role="document")
    .modal-wrapper
        form#form__order(name="form-order" method="POST")
            div.modal-content
                div.modal-header.modal-header--background
                    p.heading.font-weight-bold.text-uppercase.form-subject Оформление заказа
                    button.close(type="button" data-dismiss="modal" aria-label="Закрыть")
                        span.white-text(aria-hidden="true") &times;
                
                div.modal-body.pt-2.pb-2.pl-2.pr-2
                    div.row.mx-2
                        div
                            div.md-form
                                input.input_name.form-control#order_name(type="text" name="name" data-validate autocomplete="off")
                                label Имя
                            div.md-form
                                input.input_tel.form-control#order_tel(type="text" name="tel" data-validate autocomplete="off")
                                label Телефон
                            div.md-form
                                select#items-dropdown.mdb-select.mr-sm-2(name="items" data-validate)
                                    option(data-value="defalt" selected) Выберите продукцию
                                    option(data-value="" value="") Песок
                            div.md-form.mb-2  
                                input#order_weight.input_weight.form-control(type="number" data-validate size="3" name="weight" min="1" max="9999999" value="1")  
                                label Количество тонн
                            div(class="form-check mb-1")
                                input#checkbox8.input_policy.form-check-input(type="checkbox" name="privacyPolicy" required)
                                label.form-check-label.advantage-form__checklabel(for="checkbox8")
                                    span.text-color__black Я согласен на обработку 
                                        a.highlight(href="./assets/docs/personal_data.pdf" rel="nofollow noopener" target="_blank") персональных данных
                            div.form-errors.text-center.mb-3
                            div.row.d-flex.align-items-center
                                div.text-center.col-md-12                                
                                    input.btn.btn-primary.form-submit(type="submit" name="order" value="Заказать")
                                    //- input(type="hidden" name="recaptcha_response" id="product-order")