$font-lock-min:  320px !default; 
$font-lock-max: 1200px !default;
$font-family-futurapt-book: "Futura PT Book";
$font-family-futurapt: "Futura PT";
$base-font-size: 16px;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;


$white: #fff;
$black: #000;
$first-yellow: #ffcd11;
$second-yellow: #ffce00;
$dark-blue: #1e2344;
$gray: #515254;

$header-background: "../assets/img/backgrounds/main-bg__cat.jpg";