section.about
    .container
        h2.about__title.wow.fadeIn(data-wow-delay="0.2s") #[span.text-color-secondary О] #[span.text-white нас]
        .row.pt-4
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                p.pb-4.wow.fadeInUp(data-wow-delay="0.2s") Наша компания осуществляет добычу и реализацию нерудных материалов, предлагаем песок мытый и сеяный модуль крупности 2.5мм - 3мм, гравий фракций 5x20, 20x40, 40x70, ЩГПС-С4, ЩГПС-С5, ПГС, камень бутовый фракции 80x150, щебень на засыпку дорог фракция от 20мм до 150мм.
                p.pb-4.wow.fadeInUp(data-wow-delay="0.2s") Карьер «Чаль» расположен в Смоленской области Темкинского района. Асфальтированная дорога до самого карьера. Отгрузка круглосуточно по весам.
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                .pb-3.wow.fadeInUp(data-wow-delay="0.2s") #[mark.inline-block Прайс на самовывозе:]
                    ul.about-price-list.pt-2
                        li Песок (мытый) 80 руб.тонна
                        li Песок (сеянный) 60 руб.тонна
                        li Щебень гравийный фракции 5х20 950 руб.тонна
                        li Щебень гравийный фракции 20х40 850 руб.тонна
                        li Гравий фракции 5х20 (мытый) 750 руб.тонна
                        li Гравий фракции 5х20 (сеяный) 650 руб.тонна
                        li Гравий фракции 20х40 650 руб.тонна
                        li Гравий фракций 40х70 600 руб.тонна
                        li ЩПС – С-5, С-4 (на щебне) 700 руб.тонна
                        li ЩГПС – С-5, С-4 (на гравии) 700 руб.тонна
                        li ПГС 150 руб.тонна
                p.wow.fadeInUp.pt-4(data-wow-delay="0.25s") 
                    | Цена на бутовый камень и фракцию 20х150 обсуждается индивидуально. 
                    | Все цены указаны с НДС, работаем круглосуточно, будем рады видеть Вас среди наших партнеров и клиентов, готовы к сотрудничеству на длительный срок.
