section.certificate
    .container
        .certificate-head
            h2.certificate-head__title(data-wow-delay="0.2s") #[span.text-white Наши] #[span.text-color-secondary сертификаты]
        
        .row.d-flex.justify-content-center
            .certificate-item.col-xl-3.col-lg-3.col-md-3.col-12.wow.fadeInUp(data-wow-delay="0.2s")
                a(href="./assets/docs/cert-1.pdf" target="_blank")
                    img.img-fluid(src="./assets/img/certificates/cert-1.jpg" title="Скачать сертификат" alt="Скачать сертификат")
            .certificate-item.col-xl-3.col-lg-3.col-md-3.col-12.wow.fadeInUp(data-wow-delay="0.25s")
                a(href="./assets/docs/cert-2.pdf" target="_blank")
                    img.img-fluid(src="./assets/img/certificates/cert-2.jpg" title="Скачать сертификат" alt="Скачать сертификат")
            .certificate-item.col-xl-3.col-lg-3.col-md-3.col-12.wow.fadeInUp(data-wow-delay="0.3s")
                a(href="./assets/docs/cert-3.pdf" target="_blank")
                    img.img-fluid(src="./assets/img/certificates/cert-3.jpg" title="Скачать сертификат" alt="Скачать сертификат")
            .certificate-item.col-xl-3.col-lg-3.col-md-3.col-12.wow.fadeInUp(data-wow-delay="0.3s")
                a(href="./assets/docs/cert-4.pdf" target="_blank")
                    img.img-fluid(src="./assets/img/certificates/cert-4.jpg" title="Скачать сертификат" alt="Скачать сертификат")