section.discount-box#discount
    .container
        .row
            .col-lg-6.col-md-6.col-12
                .view.view-cascade.overlay.wow.fadeInLeft(data-wow-delay="0.2s")
                    img.img-fluid(src="./assets/img/products/gravel/graviy-520.jpg" alt="гравий 5x20")
            .col-lg-6.col-md-6.col-12.wow.fadeInRight(data-wow-delay="0.2s")
                h2.discount-box__title Акция #[span.text-color-secondary дня]
                p.discount-box__subtitle.sc Гравий фракции 5x20
                p.sc.discount-box__sale #[span.discount-box__sale-text Скидка #[span.pbc 20%]]
                p #[small * условия по телефону]
                p
                    button.btn.btn-primary.mt-3.discount-box__submit.m-0(type="button" data-toggle="modal" data-target="#modalOrderDiscounted") Заказать        