.footer#footer
    .container-fluid
        .container.h-100.align-self-center
            .row.footer__contacts
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12.pr-0.pl-0.text-left.wow.fadeInLeft.footer__info(data-wow-delay="0.2s")
                    h2.footer__title #[span.text-color-secondary К]онтакты
                    ul.footer-contact-list
                        li.footer-contact-list__item.footer__phone
                            .footer-contact-list__item-icon 
                                i.fas.fa-phone.fa-fw
                            .footer-contact-list__item-info 
                                a.waves-effect.waves-light(href="tel:+74956436363" title="Позвонить нам") +7 (495) 643-63-63
                        li.footer-contact-list__item
                            .footer-contact-list__item-icon
                                i.fas.fa-envelope.fa-fw
                            .footer-contact-list__item-info
                                a.waves-effect.waves-light(href="mailto:info@sts-msk.pro" title="Написать нам") info@sts-msk.pro
                        li.footer-contact-list__item
                            .footer-contact-list__item-icon
                                i.fas.fa-map-marker-alt.fa-fw
                            .footer-contact-list__item-info
                                span Смоленская область, Темкинский район, дер. Чаль
                        li.footer-contact-list__item
                            .footer-contact-list__item-icon
                                i.fas.fa-file.fa-fw
                            .footer-contact-list__item-info
                                a(href="/assets/docs/requisites.pdf" title="Скачать реквизиты" download) Наши реквизиты
                        button.btn.btn-primary.mt-4.footer-contact-list__button.btn__submit(data-ze="#contact-form") Заказать звонок
                .footer__map.col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12.pr-0.pl-0.text-right.wow.fadeInRight(data-wow-delay="0.2s")
                    iframe.h-100.w-100.footer__map-frame(src="https://yandex.ru/map-widget/v1/-/CGbJFX7W" frameborder="1" allowfullscreen="true")
            .row.footer__copyrights.wow-fadeInUp(data-wow-delay="0.2s")
                .col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12.pr-0.pl-0.footer__copyrights--indents
                    a(href="/assets/docs/privacy_policy.pdf" rel="nofollow noopener" target="_blank") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                .col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12.pr-0.pl-0.footer__copyrights--indents «СпецТрансСтрой» #[br] © 2019-2020
                .col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12.pr-0.pl-0.footer__copyrights--indents
                    a(href="/assets/docs/personal_data.pdf" rel="nofollow noopener" target="_blank") СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ
