section.gallery
    .container
        h2.gallery__title.wow-fadeIn(data-wow-delay="0.2s") Медиа #[span.text-color-secondary галерея]
        .row.pt-4.pb-3
            .col-md-12
                //- Carousel Wrapper
                div(id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel")
                    //- Indicators
                    ol(class="carousel-indicators")
                        li(data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color")
                        li(data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color")
                        li(data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color")
                        //- /.Indicators

                        //- Slides and lightbox
                    div(class="carousel-inner mdb-lightbox" role="listbox")
                        div(id="mdb-lightbox-ui")
                        //- First slide
                        div(class="carousel-item active text-center")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-1.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-1.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-2.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-2.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-3.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-3.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-3.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-3.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-4.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-4.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-5.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-5.jpg" class="img-fluid")
                        //- /.First slide

                        //- Second slide
                        div(class="carousel-item text-center")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-6.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-6.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-7.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-7.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-8.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-8-cr.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-9.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-9-cr.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-10.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-10-cr.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-11.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-11-cr.jpg" class="img-fluid")
                        //- /.Second slide

                        //- Third slide
                        div(class="carousel-item text-center")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-12.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-12-cr.jpg" class="img-fluid")

                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-13.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-13-cr.jpg" class="img-fluid")

                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-14.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-14-cr.jpg" class="img-fluid")

                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-15.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-15-cr.jpg" class="img-fluid")

                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-16.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-16-cr.jpg" class="img-fluid")
                            figure(class="col-md-4 d-md-inline-block")
                                a(href="./assets/img/gallery/gallery__img-17.jpg" data-size="1600x1067")
                                    img(src="./assets/img/gallery/gallery__img-17-cr.jpg" class="img-fluid")