section.partners
    .container
        h2.partners__title.wow.fadeIn(data-wow-delay="0.2s") Нам #[span.text-color-primary доверяют]
        
        div(id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel")

            ol(class="carousel-indicators")
                li(data-target="#multi-item-example" data-slide-to="0" class="active")
                li(data-target="#multi-item-example" data-slide-to="1")
            div(class="carousel-inner" role="listbox")
                //- First slide
                div(class="carousel-item active")
                    div(class="col-md-4 carousel-item-block")
                        img.partners-img(data-partner="stroytransgaz" src="./assets/img/partners/logo-stroytransgaz.png" alt="Партнер Стройтрансгаз")
                    div(class="col-md-4 carousel-item-block")
                        img.partners-img(data-partner="rosneft" src="./assets/img/partners/logo-rosneft.png" alt="Партнер Роснефть")
                    div(class="col-md-4 carousel-item-block")
                        img.partners-img(data-partner="transneft" src="./assets/img/partners/logo-transneft.png" alt="Партнер Транснефть")

                //- Second slide
                div(class="carousel-item")
                    div(class="col-md-4 carousel-item-block")
                        img.partners-img(data-partner="stroygazmontazh" src="./assets/img/partners/logo-stroygazmontazh.png" alt="Партнер Стройгазмонтаж")
                    div(class="col-md-4 carousel-item-block")
                        img.partners-img(data-partner="velesstroy" src="./assets/img/partners/logo-velesstroy.png" alt="Партнер Велесстрой")
                    div(class="col-md-4 carousel-item-block")
                        img.partners-img(data-partner="gazstroyproekt" src="./assets/img/partners/logo-gazstroyproekt.png" alt="Партнер Газстройпроект")