//- - const advantageBoxInfo = [
//-     { 
//-         advantageCountInfo: 600,
//-         advantageDescCardOne: "За одну тонну гравия",
//-         advantageImageSrc: "./assets/img/backgrounds/excavator-ico.png",
//-         advantageDescCardTwo: "За одну тонну гравия",
//-         class: "advantage-about__first"
//-     },
//-     { 
//-         advantageCountInfo: [24, 7],
//-         advantageDescCardThree: "Асфальтированная дорога до самого карьера",
//-         advantageImageSrc: "./assets/img/backgrounds/road-ico.png",
//-         advantageDescCardFour: "Отгрузка круглосуточно по весам",
//-         class: "advantage-about__second"
//-     },
//-     { 
//-         advantageCountInfo: 8,
//-         advantageDescCardThree: "Успешной работы на всей территории России и СНГ",
//-         advantageImageSrc: "./assets/img/backgrounds/sale-ico.png",
//-         advantageDescCardFour: "Отгрузка круглосуточно по весам",
//-         class: "advantage-about__third"
//-     },
    
//- ]



//- mixin advantageBox(advantageInfo)
//-     for item in advantageInfo
//-         div(class="#{item.class}")
//-             .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12
//-                 .advantage-count от #[span.text-color__primary 600] ₽
//-                 .advantage-desc За одну тонну гравия
//-             .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12
//-                 .advantage-count #[img.icon-vehicle(src="./assets/img/backgrounds/excavator-ico.png")]
//-                 .advantage-desc Большой ассортимент добываемых материалов