extends ../layouts/page-layout/page.pug

block variables
    - const title = "«СпецТрансСтрой» - добыча и реализация нерудных материалов"

block content
    include ../sections/header.pug
    include ../sections/footer.pug